html, body, div, p, span {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

.message.hidden {
  display: none;
}
.message.visible {
  display: inline-block;
}

#new-phrase {
  font-weight: 600;
}


.button {
  cursor: pointer;

  &:active {

  }
  &:focus {
    outline-width: 0;
  }
}

.btn-remove {
  background-color: red;
}
.btn-deactivate {
  background-color: orange;
}
.btn-activate {
  background-color: lime;
}


.kalambury-manage-phrases {


  .inactive {
    text-decoration: line-through;
    color: #999;
  }
}

.kalambury-manage-phrases-btn {
  cursor: pointer;
}
